{% extends 'base.html' %}

{% block content %}

<div class="container py-4">

    <h2>Manage Milestones</h2>

    <div class="card shadow-sm p-4 mt-4">

        <form method="POST">

            {% csrf_token %}

            <input
                type="number"
                name="week"
                class="form-control mb-3"
                placeholder="Pregnancy Week"
                required
            >

            <input
                type="text"
                name="title"
                class="form-control mb-3"
                placeholder="Milestone Title"
                required
            >

            <textarea
                name="description"
                class="form-control mb-3"
                placeholder="Description"
                required
            ></textarea>

            <textarea
                name="tips"
                class="form-control mb-3"
                placeholder="Tips"
            ></textarea>

            <button
                type="submit"
                class="btn btn-primary"
            >
                Add Milestone
            </button>

        </form>

    </div>


    <div class="card shadow-sm mt-4">

        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Week</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tips</th>
                </tr>
            </thead>

            <tbody>

                {% for milestone in milestones %}

                <tr>
                    <td>Week {{ milestone.week }}</td>
                    <td>{{ milestone.title }}</td>
                    <td>{{ milestone.description }}</td>
                    <td>{{ milestone.tips }}</td>
                </tr>

                {% empty %}

                <tr>
                    <td colspan="4" class="text-center">
                        No milestones found.
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}